:root {
	--baseColor: #252525;
	--baseColorRGB: 37, 37, 37;
	--accentColor: #7f00ff;
	--accentColorRGB: 191, 83, 255;
	--dotSize: 0.2rem;
}
 
.background [data-v-50a88834]{
    background: url(https://cdn.discordapp.com/attachments/649061884196028416/930587856525754398/Purpleex.png);
}

.pattern-bg[data-v-50a88834] {
    background: url(https://cdn.discordapp.com/attachments/649061884196028416/930587856861294622/Exilee.png?width=630&height=559);
    animation: loopPattern-data-v-50a88834 80s linear infinite;
}
 
.left-icons[data-v-50a88834] {
	margin-top: 5rem;
}
 
.bg-radial[data-v-a32bad04],
.logo[data-v-50a88834],
.head[data-v-4e2ec512],
.list[data-v-4e2ec512],
.bg-gradient[data-v-174cb81c],
.gun-img[data-v-174cb81c],
.chests[data-v-174cb81c],
.progress-label[data-v-9dd62bd0],
.info[data-v-43caa132],
.background[data-v-6b95486e],
.mWwn[data-v-86159fd0],
.name[data-v-2bbf437a] {
	display: none !important;
}
 
.background[data-v-7a2de70d],
.container[data-v-7a2de70d],
.leaderboard-cont[data-v-f110cb4e],
.preview[data-v-51c089b2],
.img-bg[data-v-51c089b2],
.clans[data-v-3a66d112],
.chat[data-v-51c089b2],
.messages[data-v-27dba9d0],
.card-cont[data-v-040b7087],
.settings[data-v-d9238ce6],
.esc-interface[data-v-b427fee8],
.right-container[data-v-b427fee8],
.container-card[data-v-747e6ab9],
.add-friends[data-v-4d25bc18],
.avatar[data-v-2fe1d78c],
.bottom[data-v-2fe1d78c],
.subjects[data-v-2fe1d78c],
.player[data-v-6b95486e] {
	background: transparent !important;
	box-shadow: none;
	backdrop-filter: blur(0.5rem);
	border: none;
}
 
.card-cont[data-v-47a01a9a],
.icon-btn[data-v-45658db6],
.card[data-v-41938989],
.top-bar[data-v-0238bf17],
.messages[data-v-76a3fe0a],
.player[data-v-6b95486e],
.tab-info[data-v-2a5e9e8d],
.tab-info[data-v-7f1c00bc] {
	background: rgba(0, 0, 0, 0.25) !important;
	backdrop-filter: blur(0.25rem);
	border-radius: 1rem;
}
 
.name-page[data-v-0238bf17],
.progress-line[data-v-5aafd15a],
.top-items[data-v-0926e915],
.list-cont[data-v-0926e915],
.info-awards[data-v-f110cb4e],
.reset-time[data-v-174cb81c],
.champions-list[data-v-8a6d4c66],
.description[data-v-040b7087],
.all-scores[data-v-040b7087],
.champions-stat[data-v-040b7087],
.list-container[data-v-3bcb580a],
.input[data-v-595c2068],
.player[data-v-b427fee8],
.hp-title[data-v-57051149],
.head-text[data-v-4d25bc18],
.tabs[data-v-3547fad6],
.tab-bar[data-v-3d11cf09],
.tab[data-v-3d11cf09],
.box[data-v-21e538bc],
.friend[data-v-f404d03e],
.level-cont[data-v-f404d03e],
.add[data-v-f404d03e],
.delete[data-v-f404d03e],
.bg[data-v-1d4749de],
.kill-bar-item[data-v-6200f284] {
	background-color: var(--baseColor) !important;
	box-shadow: none;
	border: none;
}
 
.mod[data-v-a32bad04]:hover,
.text[data-v-02c36fca],
.clan-tag[data-v-26ce3560],
.clan-tag[data-v-41938989],
.clan-tag[data-v-f110cb4e],
.label-primary[data-v-f110cb4e],
.awards-span[data-v-f110cb4e],
.top-name[data-v-0926e915],
.active[data-v-3a66d112],
.nav[data-v-3a66d112]:hover,
.list-labels[data-v-8a6d4c66],
.map-name[data-v-51c089b2],
.champions-league[data-v-040b7087],
.champions-scores[data-v-040b7087],
.all-scores-label[data-v-040b7087],
.primary[data-v-3bcb580a],
.labels[data-v-3bcb580a],
.disable[data-v-038aad28],
.level-text[data-v-9dd62bd0],
.header[data-v-2f6eb6f6],
.stat-name[data-v-41938989],
.progress-level-value[data-v-41938989],
.label[data-v-b427fee8],
.header[data-v-21e538bc],
.primary[data-v-b427fee8],
.head[data-v-f5d2b02e],
.primary[data-v-2a5e9e8d],
.key[data-v-2a5e9e8d],
.icon-death[data-v-1d4749de],
.primary[data-v-7f1c00bc] {
	color: var(--accentColor) !important;
}
 
.levels[data-v-26ce3560],
.levels[data-v-41938989],
.level-value[data-v-9dd62bd0],
.server[data-v-51c089b2],
.online[data-v-51c089b2],
.lvl-leader[data-v-f110cb4e],
.active-tab[data-v-3547fad6],
.tab[data-v-3547fad6]:hover,
.level[data-v-2fe1d78c],
.home[data-v-0238bf17]:hover {
	background-color: var(--baseColor);
	color: var(--accentColor);
}
 
.select-mods-cont[data-v-a32bad04],
.select-regions-cont[data-v-a32bad04],
.input[data-v-6b8c8819],
.item[data-v-0926e915],
.items .item[data-v-8a6d4c66],
.item-content[data-v-3bcb580a],
.input[data-v-a0b6da4a],
.input[data-v-595c2068],
.add[data-v-f404d03e]:hover,
.delete[data-v-f404d03e]:hover,
.gun[data-v-b427fee8],
.head[data-v-2a5e9e8d],
.player[data-v-2a5e9e8d],
.player[data-v-7f1c00bc] {
	background: var(--baseColor) !important;
	border: 0.15rem solid rgba(255, 255, 255, 0.1) !important;
}
 
::-webkit-scrollbar-thumb,
.avatar-info[data-v-9dd62bd0]:hover,
.user-info[data-v-9dd62bd0]:hover,
.label-card[data-v-2bcdf8f9]:hover,
.inventory-card[data-v-d9238ce6]:hover,
.select-mod[data-v-d9238ce6]:hover,
.selected[data-v-2fe1d78c],
.selected[data-v-b427fee8] {
	background-color: var(--accentColor);
}
 
.icon-btn[data-v-45658db6]:hover,
.icon-btn[data-v-45658db6]:hover,
.active[data-v-ce054580],
.tab[data-v-ce054580]:hover,
.server[data-v-51c089b2]:hover,
.tab[data-v-3547fad6]:hover,
.active-tab[data-v-3547fad6],
.tab[data-v-3d11cf09]:hover {
	border-top: 0.25rem solid var(--accentColor);
	background-color: var(--baseColor);
	color: var(--accentColor);
}
 
.icon-btn[data-v-45658db6] {
	width: 8rem;
	height: 8rem;
	margin-top: 1rem;
}
 
.icon[data-v-45658db6] {
	margin-top: 0;
}
 
.card-cont[data-v-47a01a9a],
.icon-btn[data-v-45658db6] {
	border-bottom: none;
	border-top: none;
	box-shadow: none;
}
 
.home[data-v-0238bf17],
.tabs[data-v-ce054580],
.active[data-v-ce054580],
.active-tab[data-v-3547fad6],
.tab[data-v-ce054580]:hover,
.tab[data-v-3547fad6]:hover {
	background: var(--baseColor);
	border-right: 0.125rem solid rgba(255, 255, 255, 0.1);
}
 
.active[data-v-ce054580],
.active-tab[data-v-3547fad6],
.tab[data-v-ce054580]:hover,
.tab[data-v-3547fad6]:hover {
	border-left: 0.125rem solid rgba(255, 255, 255, 0.1);
}
 
.progress[data-v-5aafd15a],
.rules-icon[data-v-51c089b2] {
	background-color: var(--accentColor);
}
 
.button[data-v-02c36fca] {
	background-color: var(--baseColor) !important;
	--hover-color: rgba(var(--baseColorRGB), 0.5) !important;
	--top: rgba(255, 255, 255, 0.1) !important;
	--bottom: rgba(0, 0, 0, 0.2) !important;
	--webkit-text-stroke: none;
}
 
.active[data-v-ce054580],
.tab[data-v-ce054580]:hover {
	background-color: var(--baseColor);
	color: var(--accentColor);
}
 
.info-key-cont[data-v-0686a978],
.progress-helper[data-v-27921169],
.progress[data-v-27921169],
.lvl[data-v-27921169],
.buy-btn[data-v-27921169],
.level-progress[data-v-dc99bd6e],
.endurance-progress[data-v-57051149] {
	background: var(--accentColor);
	color: white;
	box-shadow: none;
}
 
.level[data-v-b427fee8],
.btn-invite[data-v-b427fee8]:first-of-type {
    background-color: var(--baseColor);
	color: var(--accentColor);
	border: 0.15rem solid rgba(255, 255, 255, 0.1);
}
 
.state[data-v-57051149] {
	opacity: 1;
	left: 40rem;
}
 
.cont-endurance[data-v-57051149],
.cont-hp[data-v-57051149] {
	background: transparent;
}
 
.input-wrapper[data-v-6b8c8819] {
	position: absolute;
	bottom: -3.5rem;
}
 
.messages[data-v-76a3fe0a] {
	border-radius: 1rem;
	position: absolute;
	bottom: -0.5rem;
	max-width: 35rem;
}
 
.gun[data-v-2fe1d78c],
.subject[data-v-2fe1d78c] {
	background: var(--baseColor);
}
 
.item-name[data-v-2fe1d78c] {
	left: 1rem;
}
 
.active[data-v-3d11cf09] {
	background-color: var(--baseColor);
	color: var(--accentColor);
	border-bottom: var(--accentColor) solid 0.125rem;
}
 
.select-mod[data-v-a32bad04],
.select-region[data-v-a32bad04],
.select-mod[data-v-a32bad04]:hover,
.select-region[data-v-a32bad04]:hover,
hr[data-v-a32bad04],
.custom-checkbox > input:not(:disabled):not(:checked) + span[data-v-47e1b746]:before,
.custom-checkbox > input:not(:disabled):not(:checked) + span[data-v-47e1b746]:hover:before {
	background: var(--baseColor);
	border: 0.125rem solid rgba(255, 255, 255, 0.1);
}
 
.custom-checkbox > input:checked + span[data-v-47e1b746]:before {
	background-color: var(--accentColor);
	border-color: rgba(255, 255, 255, 0.25);
}
 
#ad-bottom[data-v-4520d328],
#ad-left[data-v-4520d328] {
	max-width: 0rem;
}
 
.timer[data-v-1d4749de] {
	position: absolute;
	left: 55rem;
	background: none !important;
}
 
.red[data-v-37a63d5f] {
	margin-right: 3rem;
}
 
.blue[data-v-37a63d5f] {
	margin-left: 3rem;
}
 
.content[data-v-7a2de70d],
.settings[data-v-6d8ce2bb],
.inventory[data-v-2fe1d78c] {
	height: 50rem;
}
 
.player-lobby[data-v-2fe1d78c] {
	width: 80rem;
	height: 50rem;
	margin-left: -22rem;
	margin-top: -10rem;
}
