body {
    font-family: Exo\ 2;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    margin-top: 0;
    font-weight: 500;
    font-size: 1rem;
    background: #222946;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --black: #000;
    --white: #fff;
    --primary-1: #ed3332;
    --primary-2: #f54948;
    --primary-3: #b32424;
    --orange-1: #f2994a;
    --secondary-1: #161918;
    --secondary-2: #302a2c;
    --secondary-3: #0e100f;
    --secondary-4: #1a1d1c;
    --secondary-5: #1a1d1c;
    --secondary-6: #231f20;
    --purple-1: #9a39d3;
    --purple-2: #af51e6;
    --purple-3: #692c8c;
    --red-1: #e24f4f;
    --red-2: #f66;
    --red-3: #cb1414;
    --red-4: #e73c3c;
    --red-5: #e73131;
    --blue-1: #453ad4;
    --blue-2: #545ffc;
    --blue-3: #222aa0;
    --blue-4: #2f80ed;
    --blue-5: #4f94f1;
    --blue-6: #256fd3;
    --green-1: hsl(147deg 76% 46%);
    --green-2: #24ff2f;
    --green-3: #07960e;
    --green-4: #35e785;
    --black-5: #1a1f2e;
    --gray-1: #f2f2f2;
    --gray-2: #bdbdbd;
    --border-top: #393335;
    --lore-css: owner;
}

.card-cont[data-v-47a01a9a] {
    background: var(--secondary-5) !important;
    border-bottom: .25rem solid var(--secondary-6) !important;
    box-shadow: 0 .188rem 0 rgba(0,0,0,.15) !important;
    border-top: .25rem solid var(--border-top) !important;
}

.icon-btn[data-v-45658db6],.icon-btn[data-v-45658db6]:hover {
    border-top: .25rem solid transparent !important;
}

.pattern-bg[data-v-40b61c30]{
    background: url(https://www.transparenttextures.com/patterns/asfalt-light.png) repeat;
    background: url(https://cdn.discordapp.com/attachments/919511402853580860/929946530071318528/geometric.jpg) repeat;
    width: 100%;
    height: 100vh;
    -webkit-animation: loopPattern-data-v-40b61c30 80s linear infinite;
    animation: loopPattern-data-v-40b61c30 80s linear infinite;
    opacity: 1
}

.background[data-v-40b61c30] {
    position: absolute !important;
    height: 100vh !important;
    width: 100% !important;
    pointer-events: none !important;
    background: #000000 !important;
    background: #0000 !important;
}

.bg-radial[data-v-40b61c30] {
    position: absolute !important;
    height: 100vh !important;
    width: 100% !important;
    top: 0 !important;
    background: #0000 !important;
}
.select-mods-cont[data-v-40b61c30],.select-regions-cont[data-v-40b61c30] {
    position: absolute !important;
    display: flex !important;
    flex-wrap: wrap !important;
    bottom: 13.2rem !important;
    right: 0 !important;
    backdrop-filter: blur(6px) !important;
    background-color: rgba(0,0,0,.3) !important;
    border: .25rem solid var(--secondary-3) !important;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,.25) !important;
    padding-right: 1rem !important;
    height: 24rem !important;
}
hr[data-v-40b61c30] {
    width: 100%;
    background-color: var(--secondary-3) !important;
    border: 3px solid var(--secondary-3) !important;
}
.select-mod[data-v-40b61c30],.select-region[data-v-40b61c30] {
    float: right;
    background-color: var(--secondary-1) !important;
    padding: .25rem .5rem !important;
    font-weight: 700 !important;
    border-radius: .4rem !important;
    border: .25rem solid var(--secondary-3) !important;
    cursor: pointer
}
.clans[data-v-3a66d112] {
    position: relative !important;
    background-color: transparent !important;
    height: 100% !important;
    color: #fff !important;
    background: transparent !important;
}
.container[data-v-7a2de70d] {
    background: transparent;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: Exo\ 2;
    margin-top: -5px;
    box-shadow: 4px 4px 5px 5px transparent;
}
.avatar[data-v-2fe1d78c] {
    min-width: 34.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #0000 !important;
    overflow: hidden;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.07);
    border-left: #0000;
    border-bottom: #0000;
}
.gun[data-v-2fe1d78c] {
    background: transparent !important;
    border-radius: 3px;
    height: 8.5rem;
    position: relative
}
.background[data-v-7a2de70d] {
    background-color: #12151f;
    padding:0px 0px 0px !important;
    border-radius: 5px
}
.small[data-v-27dba9d0] {
    background: #0000 !important;
    padding-left: 0
}
.input[data-v-6b8c8819] {
    background: var(--secondary-1) !important;
    border-radius: 3px;
    border: none;
    padding: .7rem .5rem .5rem;
    width: 100%;
    margin-right: .75rem;
    color: var(--white);
    font-size: 1.2rem
}
.right-container[data-v-b427fee8] {
    backdrop-filter: blur(6px) !important;
    background-color: rgba(22, 25, 24, 0.44) !important;
    max-width: 58.688rem;
    width: 100%;
    margin-top: 0rem;
    padding: 1.5rem 2.5rem 2.3rem 0;
    padding-left: 5%;
    border-radius: .313rem 0 0 0;
    position: relative;
}
.gun[data-v-b427fee8] {
    backdrop-filter: blur(6px) !important;
    background: rgba(0, 0, 0, 0.33) !important;
    border-radius: .5rem;
    border: .313rem solid hsla(0, 0%, 100%, 0.07) !important;
    max-width: 16.75rem;
    width: 100%;
    position: relative;
    height: 7.75rem;
    margin-bottom: .75rem;
    cursor: pointer
}
.player[data-v-b427fee8] {
    display: flex;
    backdrop-filter: blur(6px) !important;
    background-color: rgba(0,0,0,.3) !important;
    margin-top: .7rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem .7rem .5rem 1rem;
    position: relative
}
.bg[data-v-1d4749de] {
    backdrop-filter: blur(6px) !important;
    background: rgba(0,0,0,.5) !important;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0,0,0,.31);
    padding: .4rem .6rem;
    margin-right: .8rem;
    display: flex;
    align-items: center;
    justify-content: center
}
.tab-info[data-v-7f1c00bc] {
    z-index: 5;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 60rem;
    border-radius: 5px;
    padding: 0;
    background: rgba(0,0,0,.5) !important;
    box-shadow: 0 4px 0 rgba(0,0,0,.31);
    border-radius: 1.25rem;
    color: var(--white)
}
.player[data-v-7f1c00bc] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .2rem;
    width: 100%;
    background-color: rgba(0,0,0,.5) !important;
    border-radius: .5rem;
    padding: 0 .5rem;
    margin-bottom: .6rem;
    font-weight: 700;
    height: 2.5rem
}
.box[data-v-21e538bc] {
    margin-top: 40px;
    background: var(--secondary-1);
    padding: 14px;
    border-radius: 12px;
    border: 8px solid var(--secondary-3)
}
.list[data-v-4e2ec512] {
    margin-left: .7rem;
    padding-right: .7rem;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 10rem
}
.input[data-v-a0b6da4a] {
    border-color: hsla(0, 0%, 100%, 0.07) !important;
    background: none;
    outline: none;
    background: var(--secondary-1);
    width: 100%;
    height: 2.875rem;
    padding-left: .5rem;
    box-sizing: border-box;
    font-weight: 600;
    font-size: .875rem;
    color: var(--gray-1);
    box-shadow: 0 1px 2px var(--secondary-3);
    border-radius: .25rem
}
.info[data-v-43caa132] {
    display: none;
    align-items: center;
    margin-bottom: .7rem;
    opacity: .8
}
.progress-label[data-v-9dd62bd0] {
    border-bottom: .25rem solid var(--secondary-6) !important;
    border-radius: 3px;
    height: 36px;
    display: flex;
    align-items: center;
    position:  fixed !important;
    right: 1486px !important;
    top: 121px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    text-transform: uppercase;
    font-weight: 600;
}
.progress-label[data-v-9dd62bd0]:hover {
        background: var(--secondary-2) !important;
}
.chat-cont[data-v-1d9d2e16] {
    display: none;
    position: relative
}
.messages[data-v-76a3fe0a] {
    backdrop-filter: blur(6px) !important;
    background-color: rgba(0,0,0,.4) !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    margin-bottom: .6rem;
    min-height: 11.75rem;
    width: 100%;
    overflow-y: auto;
    direction: rtl;
    padding-left: .4rem;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--white);
    height: 100%
}
.endurance-progress[data-v-57051149] {
    border-radius: .188rem;
    background: #ed3332;
    height: .7rem;
    transition: width .6s ease
}
.tab-info[data-v-2a5e9e8d] {
    z-index: 5;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 38.75rem;
    border-radius: 5px;
    padding: 0;
    background: rgba(0,0,0,.4) !important;
    backdrop-filter: blur(6px) !important;
    box-shadow: transparent !important;
}
    .player[data-v-b427fee8] {
    display: flex;
    margin-top: .7rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem .7rem .5rem 1rem;
    position: relative
}

.head[data-v-2a5e9e8d] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .6rem 1rem .4rem 1rem;
    background: rgba(0,0,0,.5);
    border: 2px solid #20263900;
    box-sizing: border-box;
    box-shadow: 0 3px 26px rgba(0,0,0,.486);
    border-radius: 20px 20px 0 0;
    font-style: italic;
    font-weight: 700;
    font-size: 1.75rem
}
.rectangle[data-v-02c36fca] {
    background-color: var(--secondary-3) !important; --hover-color:#ed3332 !important; --top:#5c688f00 !important; --bottom:#252e4b00 !important;
    transform: skew(0deg)
}
.triangle-bottom[data-v-02c36fca],.triangle[data-v-02c36fca] {
    display: none;
    width: 0;
    height: 0;
    border-top: .7em solid hsla(0,0%,94.1%,.267);
    border-left: .7em solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -.4em
}
.end-modal[data-v-0326fb69] {
    z-index: 5;
    min-height: 100vh;
    width: 100%;
    background: var(--secondary-3) !important;
    position: absolute;
    font-family: Exo\ 2;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between
}
.mWwn[data-v-86159fd0] {
    display: none;
    background: url("https://cdn.discordapp.com/attachments/919511402853580860/927218959823020032/ammo_icon.png") center 100% / 100% !important;
    align-items: center;
    font-size: 0rem;
    width: 128px;
    border-radius: 3px;
    height: 128px;
    line-height: 2rem;
    margin-left: .5rem;
    padding: .4rem 1.25rem;
    font-family: Sans-serif
}
.card-cont[data-v-38bdf024] {
    background: var(--secondary-5);
    box-shadow: 0 .25rem 0 rgba(0,0,0,.31);
    border-radius: 1.25rem;
    width: 26.5rem;
    height: 17.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem
}
.info-key-cont[data-v-0686a978] {
    background:  transparent !important;
    box-shadow: 0 4px 4px transparent,inset -1px 2px 4px 1px transparent,inset 0 -2px 0 transparent !important;
    border-radius: 3px;
    padding: .4rem .7rem;
    color:  transparent !important;
    font-size: 1.125rem;
    font-weight: 600
}
.input-wrapper[data-v-6b8c8819] {
    display: flex;
    align-items: center;
    color: hsla(0,0%,100%,.7);
    width: 555px
}
.settings[data-v-e79fe19e] {
    border-radius: 1rem;
    padding: .5rem;
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: .8rem
}
.background[data-v-7a2de70d] {
    -webkit-backdrop-filter: blur(6px) !important;
    backdrop-filter: blur(6px) !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    padding:0px 0px 0px !important;
    border-radius: 0px;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.07);
}
 
.top-bar[data-v-0238bf17] {
    display: flex;
    max-height: 2.188rem;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    background-color: transparent;
    border-top-right-radius: .313rem;
    border-top-left-radius: .313rem;
    margin-bottom: .5rem;
    box-shadow: 0 .063rem .25rem transparent;
}
.close[data-v-0238bf17] {
    height: 2.188rem;
    width: 2.188rem;
    background-color: transparent;
    border-top-right-radius: .313rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease
}
.name-page[data-v-0238bf17] {
    font-weight: 100;
    height: 100%;
    padding: 0 .8rem;
    color: var(--white);
    font-size: 1.5rem;
    box-shadow: 0 .125rem .25rem transparent;
    border-radius: 0 .313rem .313rem 0;
    background-color: transparent;
}

.home[data-v-0238bf17],.name-page[data-v-0238bf17] {
    display: flex;
    justify-content: center;
    align-items: center
}

.home[data-v-0238bf17] {
    background-color: transparent;
    width: 2.563rem;
    height: 2.188rem;
    border-top-left-radius: .313rem;
    border-right: .125rem solid transparent;
    cursor: pointer;
    transition: background-color .3s ease
}
.subjects[data-v-2fe1d78c] {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    background-color: transparent;
    border: .25rem solid transparent;
    padding-left: .5rem;
    width: 100%;
    height: 100%
}
 
.subject[data-v-2fe1d78c] {
    backdrop-filter: blur(6px) !important;
    background-color: rgba(0, 0, 0, 0.58) !important;
    width: calc(20% - .5rem);
    height: 7rem;
    margin-top: .4rem;
    margin-right: .5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
.bottom[data-v-2fe1d78c] {
    display: flex;
    position: absolute;
    bottom: 0;
    max-width: 34.375rem;
    width: 100%;
    backdrop-filter: blur(6px) !important;
    background-color: rgba(0, 0, 0, 0.58) !important;
    padding: .2rem 0;
    border-style: solid;
    border-color: hsla(0, 0%, 100%, 0.07);
    border-left: #0000;
    border-bottom: #0000;
    border-right: #0000;
}
.tab-bar[data-v-3d11cf09] {
    backdrop-filter: blur(6px) !important;
    background-color: rgba(0,0,0,.31) !important;
    height: 2.3rem;
    width: calc(100% - .3rem);
    margin-left: .3rem;
    margin-top: .5rem;
    margin-bottom: .438rem;
    border-radius: 1rem 0 0 0;
    display: flex;
    justify-content: flex-start
}
.timer{
	position: fixed;
	right: 898px;
}

.team-score .label {
	margin: 26.5px;
	margin-left: 60px;
	margin-right: 60px;
}
 
.tab[data-v-3d11cf09] {
    color: var(--gray-1);
    font-weight: 600;
    font-size: 1.125rem;
    padding: 0 1rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px) !important;
    background-color: #2c2c2c3d !important;
    cursor: pointer;
    transition: background-color .3s ease;
    margin-right: .35rem;
    border-bottom: .125rem solid hsla(0,0%,100%,0);
    transform: skew(-10deg);
    transition: all .1s ease;
}
.add-friends[data-v-4d25bc18] {
    width: 40%;
    background-color: transparent;
    border-radius: 0 .4rem
}
.head-text[data-v-4d25bc18] {
    box-shadow: 0 2px 1px rgba(0,0,0,.25);
    backdrop-filter: blur(6px) !important;
    background-color: hsla(0, 0%, 100%, 0.03) !important;
    height: 2.875rem;
    display: flex;
    align-items: center;
    padding-left: 18px;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--white)
}
.tabs[data-v-3547fad6] {
    display: flex;
    font-size: 2rem;
    width: 100%;
    pointer-events: none;
    backdrop-filter: blur(6px) !important;
    background-color: hsla(0, 0%, 100%, 0.03) !important;
    box-shadow: 0 2px 1px rgba(0,0,0,.25);
    height: 2.875rem;
    font-size: 1.375rem;
    justify-content: space-between;
    border-bottom: solid .125rem var(--secondary-1);
    color: var(--white)
}
.ammunition[data-v-86159fd0] {
    font-size: 4.5rem
}
.weapons-cont {
	position: center;
	margin-right: 38%;
	margin-bottom: 16%;
	transform: unset;
}
.active-tab[data-v-3547fad6] {
    color: var(--primary-1);
    backdrop-filter: blur(6px) !important;
    background-color: hsla(0, 0%, 100%, 0.03) !important;
    border-right: var(--secondary-1) solid 1px
}
.kill-death {
	position: fixed;
	right: 1px;
	bottom: 95.7%;
	left: unset !important;
	top: unset !important;
}
.chat {
	margin-bottom: -4%;
}
.mini-map-cont {
	display: none;
}
.img-bg[data-v-1d9d2e16] {
    position: absolute;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: .5rem;
    padding-left: .7rem;
    border-radius: .625rem 0 0 .625rem;
    height: 100%;
    width: calc(100% + 5px);
    color: var(--white);
    background: linear-gradient(40.31deg,transparent 1.73%,transparent 41.01%,transparent 98.47%)
}
.preview[data-v-1d9d2e16] {
    position: relative;
    height: 34.5rem;
    width: 20rem;
    backdrop-filter: blur(6px) !important;
    background-color: hsla(0, 0%, 100%, 0.02) !important;
    border-radius: .625rem
}
.tabs[data-v-ce054580] {
    display: flex;
    height: 2.3rem;
    width: 100%;
    backdrop-filter: blur(6px) !important;
    background-color: hsla(0, 0%, 100%, 0.05) !important;
    color: var(--white)
}
.active[data-v-ce054580],.tab[data-v-ce054580]:hover {
    color: var(--primary-1);
    backdrop-filter: blur(6px) !important;
    background-color: hsla(0, 0%, 100%, 0.01) !important;
    border-right: solid 1px var(--secondary-1);
    border-left: solid 1px var(--secondary-1)
}
.champions-list[data-v-8a6d4c66] {
    backdrop-filter: blur(6px) !important;
    background-color: rgba(22, 25, 24, 0.44) !important;
    box-shadow: 0 0 1.25rem rgba(0,0,0,.31);
    border-radius: .375rem .375rem 0 0;
    max-width: 44.813rem;
    margin-top: 1.7rem;
    margin-left: 1.438rem;
    padding: .7rem 1.6rem .5rem 1rem;
    font-weight: 700;
    width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 2;
    position: relative
}
.list-container[data-v-3bcb580a] {
    backdrop-filter: blur(6px) !important;
    background-color: rgba(22, 25, 24, 0.44) !important;
    border-radius: 5px 5px 0 0;
    width: calc(50% - .4rem);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 85px;
    padding-bottom: 5px
}
.card-cont[data-v-040b7087] {
    backdrop-filter: blur(6px) !important;
    background-color: rgba(22, 25, 24, 0.44) !important;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    border-radius: 5px 5px 0 0;
    width: calc(50% - .4rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.list-weapons {
	display: none !important;
}
.state {
	margin-left: 37%;
	transform: unset;
}
.desktop-game-interface[data-v-6a4c5c6d] {
    background: url("https://cdn.discordapp.com/attachments/919511402853580860/927903146267775006/overlay.png") center 100% / 100% !important;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
    font-family: Exo\ 2;
    pointer-events: none
}
.kill-bar-cont[data-v-6200f284] {
    margin-top: 2% !important;
    position: absolute;
    top: .2rem;
    right: 1rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end
}
.logo[data-v-40b61c30] {
    content: url(https://cdn.discordapp.com/attachments/919511402853580860/928469500792303696/lorekirkalogo.png) !important;
    position: absolute;
    top: .5rem;
    pointer-events: none;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
.top[data-v-3894613f] {
    width: 100%;
    height: .438rem;
    background: linear-gradient(90.02deg,transparent .02%,rgba(69, 33, 33, 0.85) 25.53%,#581d1d 71.86%,transparent 99.98%)
}

.center[data-v-3894613f] {
    background: linear-gradient(90.02deg,rgba(23,22,66,0) .02%,rgba(48, 16, 16, 0.75) 19.8%,rgba(47, 4, 4, 0.75) 81.76%,rgba(22,26,66,0) 99.98%);
    height: 8.438rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600
}
.bottom[data-v-3894613f] {
    background: linear-gradient(90.02deg,transparent .02%,rgba(48, 16, 16, 0.85) 25.53%,#2f0404 71.86%,transparent 99.98%);
    height: .813rem
}
.avatar-info[data-v-9dd62bd0] {
    background: url("https://cdn.discordapp.com/attachments/919511402853580860/928541455381823488/loreborder_1.gif") center 100% / 100%;
    margin-right: .5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.avatar-info[data-v-9dd62bd0] {
    background: url("https://cdn.discordapp.com/attachments/919511402853580860/928541455381823488/loreborder_1.gif") center 100% / 100% !important;
    background-color: var(--secondary-5) !important;
    margin-right: .rem;
    margin-left: 6px;
    width: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.card[data-v-5b2dc87c]:hover{
 -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
img[src$="/assets/img/cup_2.7da17b4a.png"]{
    content: url(https://cdn.discordapp.com/attachments/919511402853580860/929301977475727380/credit.png) !important;
 
}
.cup[data-v-174cb81c] {
    position: absolute;
    right: 1rem !important;
    top: -5rem !important;
    z-index: 1;
    filter: drop-shadow(0 0 15px #ff7a00);
    max-width: 8rem
}
.container-card[data-v-747e6ab9] {
    display: fixed;
    flex-direction: column;
    align-items: center;
    background: var(--secondary-6);
    border: 3px solid #12151f;
    box-shadow: 0 .625rem 1.25rem rgba(0,0,0,.25);
    border-radius: 1.25rem;
    background-color: var(--secondary-1);
    box-shadow: 0 0 6.9811px 4.36319px rgba(12,14,18,.25);
    z-index: 20;
    padding: 2rem;
    position: unset;
    margin-right: 350px;
    margin-bottom: 350px;
}
.stat-name[data-v-41938989] {
    color: #ed3332 !important;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize !important;
}
.left-icons[data-v-40b61c30]  {
    backdrop-filter: blur(6px) !important;
    background-color: var(--secondary-5)!important;
    margin-top: 8px;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
    height: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-bottom: .25rem solid var(--secondary-6) !important;
}
.icon-btn[data-v-45658db6] {
    background-color: transparent;
    width: 6rem;
    height: 4rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 0;
    margin-top: 2.5rem;
    font-size: 1.125rem;
    cursor: pointer;
    border-bottom: solid 0 transparent;
    pointer-events: auto;
    font-family: Exo\ 2;
    box-shadow: 0 0 0 transparent;
    font-weight: 700
}
.icon-btn[data-v-45658db6]:hover{
background-color: hsla(0, 0%, 100%, 0.07);
}
.label-card[data-v-2bcdf8f9] {
    display: flex;
    align-items: center;
    padding: 5px 13px 5px 12px;
    border-radius: 3px;
    margin-right: .5rem;
    border-top: none!important;
    color: var(--white);
    cursor: pointer;
    max-height: 2.25rem
}
.join[data-v-51c089b2]:hover{
 -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
